SUPABASE_URL=https://hetacocqvgcejycwglwd.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhldGFjb2NxdmdjZWp5Y3dnbHdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4ODE1MzgsImV4cCI6MjA5NzQ1NzUzOH0.28GaaaeYEsX3GF0Dnt_hryF1z0YlL1_YUi4lQpFzvKE
ORS_API_KEY=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